.navbar-toggler:not(:disabled):not(.disabled) {
}

#footer {
  background-color:#303030;
  bottom:0;
  left:0;
  position:fixed;
  text-align:left;
  width:100%;
}

.footer-text {
  align-content:center;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  width:100%;
}

.container.footer {
  text-align:center;
}

